@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@600;700;900&family=Roboto+Mono&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background: rgb(2,14,24);
background: linear-gradient(180deg, rgba(2,14,24,1) 0%, rgba(6,16,30,1) 100%);
  color: white;
  margin: 0;
}
h1 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


.animate-menuSlideIn {
  animation: menuSlideIn 0.5s forwards ease-out;
}

.animate-menuSlideOut {
  animation: menuSlideOut 0.5s forwards ease-in;
}

.animate-navDown {
  animation: navSlideDown 0.5s forwards ease-in;
}
.animate-navUp {
  animation: navSlideUp 0.5s forwards ease-in;

}

@keyframes menuSlideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuSlideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;

  }
}

@keyframes navSlideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;

  }
}

@keyframes navSlideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;

  }
}